body, html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: #e8e8e8;
	font-family: Corbel;
	color: back;
}

.nav {
	text-align: center;
	line-height: 0px;
	background: #c4c4c4;
	width: 60%;
	margin: 0 auto;
	padding-top: 30px;
	padding-left: 40px;
	padding-right: 40px;
	height: 40px;
	color: white;
	font-size: 30px;
}

.nav a {
	vertical-align: middle;
	color: white;
	text-decoration: none;
	margin-left: 20px;
	margin-right: 20px;
	-webkit-transition: color .5s ease-in;
	-moz-transition: color .5s ease-in;
	-o-transition: color .5s ease-in;
	transition: color .5s ease-in;
}

.nav a:hover {
	color: #606060;
}

.content {
	margin: 0 auto -40px;
	width: 60%;
	background: #f4f4f4;
	padding: 40px;
}

.footer, .push {
	height: 10px;
}

.footer {
	text-align: center;
	line-height: 0px;
	background: #c4c4c4;
	width: 60%;
	margin: 0 auto;
	padding-top: 10px;
	padding-left: 40px;
	padding-right: 40px;
	height: 60px;
}

.footer a {
	color: #999900;
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}